@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    scrollbar-width: thin;
    scrollbar-color: rgba(234, 179, 8, 0.3) transparent;
  }
}

@layer utilities {
  .text-neon {
    text-shadow: 0 0 10px rgba(234, 179, 8, 0.5), 0 0 20px rgba(234, 179, 8, 0.3);
  }
}

input[type="file"]::file-selector-button {
  display: none;
}
